body{
    padding:0;
    margin:0;
    background: #f6f6f6;
}
li,a,*:not(script,style,title){
    padding: 0;
    margin: 0;
    background: #f6f6f6;
    font-size: 12px;
    font-family: Tahoma,Arial,
    "Microsoft YaHei UI",sans-serif;
    list-style: none;

    border: none;
    cursor: pointer;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{text-decoration: none}
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;

}

.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #EEE;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;

}


.large .w{
    width: 1600px;
}
.hide{
    display: none;
}
.link{
    text-decoration: none;
    color: #999;
    cursor: pointer;
}
.link:hover{
    color: #e80012;
}
.link-text{
    color: #999;
    text-decoration: none;
}
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background:#c60023;
    font-size:17px;
    font-weight: bold;
    outline:none;
    color: #eeeeee;
    cursor: pointer;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;

}
.loading{
    display: block;
    background:#E8E8E8 url("../../image/icon/loading.gif")  no-repeat center;
    background-size:cover;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
}
.user-select-none{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.err-tip{
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background: #eee;
}